@{
    ViewData["Title"] = "Menú Compras";
}

<div class="text-center justify-content-center">
    <br /><br /><br /><br /><br /><br />
    <div class="row text-center align-items: center">
        <div class="col-4 nav-item align-items-center">
            <a class="nav-link text-dark " asp-area="Inventario" asp-controller="" asp-action="Compra"><img src="~/image/Compra.png" /><br />Comprar Activo</a>
        </div>
        <div class="col-4 nav-item">
            <a class="nav-link text-dark" asp-area="Inventario" asp-controller="" asp-action="Compra"><img src="~/image/AgregarProveedor.png" /><br />Agregar Proveedor</a>
        </div>
        <div class="col-4 nav-item">
            <a class="nav-link text-dark" asp-area="Inventario" asp-controller="" asp-action="Compra"><img src="~/image/EditarProveedor.png" /><br />Editar Proveedor</a>
        </div>
         <div class="col-4 nav-item">
            <a class="nav-link text-dark" asp-area="Inventario" asp-controller="" asp-action="Compra"><img src="~/image/ReporteCompras.png" /><br />Reporte Compras</a>
        </div>
    </div>
</div>