@{
    ViewData["Title"] = "Lista Inventario";
}

<div class="text-center centro ">
    <p>Todos los activos disponibles de la empresa.</p>
    <br /><br /><br /><br /><br /><br />
    <div class="d-flex justify-content-center align-self-auto">
        <div class="row text-center">
            <div class="col-4 nav-item centro">
                <a class="nav-link text-dark font-weight-bold" asp-area="Inventario" asp-controller="" asp-action="Inventario"><img class="dimesion" src="~/image/MantenimientoInventario.png" /><br />Mantenimiento Inventario</a>
            </div>
            <div class="col-4 nav-item">
                <a class="nav-link text-dark font-weight-bold" asp-area="Inventario" asp-controller="" asp-action="Inventario"><img class="dimesion" src="~/image/ReporteInventarios.png" /><br />Reporte Inventarios</a>
            </div>
            <div class="col-4 nav-item">
                <a class="nav-link text-dark font-weight-bold" asp-area="Inventario" asp-controller="" asp-action="Inventario"><img class="dimesion" src="~/image/com.png" /><br />Solicitud de Compra Activos</a>
            </div>
        </div>
    </div>
</div>
