@{
    ViewData["Title"] = "Lista Ticket";
}

<div class="text-center justify-content-center">
    <p>Todos los activos disponibles de la empresa.</p>
    <br /><br /><br /><br /><br /><br />
    <div class="row text-center align-items: center">
        <div class="col-4 nav-item align-items-center">
            <a class="nav-link text-dark " asp-area="Inventario" asp-controller="" asp-action="Inventario"><img src="~/image/MantenimientoInventario.png" /><br />Mantenimiento Inventario</a>
        </div>
        <div class="col-4 nav-item">
            <a class="nav-link text-dark" asp-area="Inventario" asp-controller="" asp-action="Inventario"><img src="~/image/ReporteInventarios.png" /><br />Reporte Inventarios</a>
        </div>
        <div class="col-4 nav-item">
            <a class="nav-link text-dark" asp-area="Inventario" asp-controller="" asp-action="Inventario"><img src="~/image/com.png" /><br />Solicitud de Compra Activos</a>
        </div>
    </div>
</div>